<!DOCTYPE html>
<html lang="en">
<head>
    <title>修改密码</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1786038_m62pqneyrzf.css">
    <script type="text/javascript" src="/js/jquery.js"></script>

</head>

<body>
<div class="form-wrapper">
    <div class="header">
        <p>请修改您的摸鱼身份</p>
    </div>
    <div class="input-wrapper">
        <div class="border-wrapper">
            <input type="text" id="account" name="account" placeholder="请输入账户名" class="border-item" autocomplete="off">
        </div>
        <div class="border-wrapper">
            <input type="password" id="oldPwd" name="oldPwd" placeholder="请输入原密码" class="border-item"
                   autocomplete="off">
        </div>

        <div class="border-wrapper">
            <input type="password" id="CNewAccountPwd" name="CNewAccountPwd" placeholder="请输入新密码" class="border-item"
                   autocomplete="off">
        </div>
        <div class="border-wrapper">
            <input type="password" id="ConfirmCNewPwd" name="ConfirmCNewPwd" placeholder="请确认新密码" class="border-item"
                   autocomplete="off">
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn btn-primary" onclick="confirmChange()">确认修改</button>
    </div>
    <div class="action">
        <button type="button" class="btn btn-default" onclick="DelayC()">取消</button>
    </div>

    <div class="icon-wrapper">
        <i class="iconfont icon-weixin"></i>
        <i class="iconfont icon-qq"></i>
        <i class="iconfont icon-git"></i>
    </div>
</div>
<script type="text/javascript" src="/js/changePwd.js"></script>


</body>
</html>
