<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title th:text=" '【'+${goods.name}+'】' +' 价格_参数' "></title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">


    <script src="js/jquery-3.5.1.js"></script>

    <!--可以在收藏夹中显示出图标-->
    <link rel="Bookmark" type="image/png" href="images/logo.png"/>
    <!--可以在地址栏中显示出图标-->
    <link rel="icon" type="image/png" href="images/logo.png"/>
    <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
</head>

<body style="height: 720px">
<!-- 头 -->
<div class="header w">
    <!-- logo部分 -->
    <a th:href="@{/home}">
        <div class="logo" style="width: 60px">
            <img src="images/logo.png" alt="商城">
        </div>
        <div class="logo" style="width: 300px">
            <img src="images/logo2.png" alt="商城">
        </div>
    </a>
    <!-- 搜索框 -->
    <div class="search">
        <input type="text" value="给时光以生命，给岁月以文明。"/>
        <button type="button"><img src="images/search.png" alt="搜索"></button>
    </div>
    <div class="user">
        <img src="images/avatar.jpg" alt="头像" width="42px" height="42px">
        ${username}
    </div>
</div>

<!---->
<div class="layui-row" style="height: 460px">
    <!--商品图片-->
    <div class="layui-col-md5 layui-col-md-offset1">
        <div class="grid-demo grid-demo-bg1">
            <img th:src="${goods.picture}" style="height: 460px; width: 460px" alt="商品图片">
        </div>
    </div>
    <!--商品详情-->
    <div class="layui-col-md5">
        <div class="grid-demo grid-demo-bg1" style="margin-top: 20px">
            <h1 th:text="${goods.name}"></h1>
            <h2 th:text="${goods.describe}" style="margin-top: 10px"></h2>

            <div style="background: #f5f5f5; height: 70px; margin-top: 20px">
                <h2 th:text=" '价 格&emsp;￥'+${goods.price}+'0' " style="color: red"></h2>
                <h2 th:text=" '库 存&emsp;'+${goods.stock}"></h2>
            </div>
            <div>
                <h3
                        th:text="${goods.id} eq 3 ? '由第三方商家重庆金康赛力斯汽车销售有限公司提供商品、发货开票及售后服务 ' : '已满233元已免运费'  "></h3>
            </div>
        </div>
    </div>
</div>
<!---->

<!-- fotter最下面 -->
<div class="footer">
    <div class="w">
        <div class="copyright">
            <img src="images/logo.png" alt="logo">
            <!-- copyright -->
            <div class="copy-right">
                <p><a href="https://www.cnblogs.com/200ok" target="_blank">&copy; 2021 摸鱼小队</a>&emsp;
                    <a href="https://beian.miit.gov.cn" target="_blank">鄂ICP备2021010294号</a>&emsp;
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42280102000451"
                       target="_blank">
                        <img src="images/beian.png" alt="公网安备" width="13" height="13"/>鄂公网安备42280102000451号</a>
                </p>
            </div>
            <!-- //copyright -->
        </div>
        <div class="linkes">

            <dl>
                <dt><a href="#">关于滑稽摸鱼商城</a></dt>
                <dd><a href="#">关于</a></dd>
                <dd><a href="#">管理团队</a></dd>
                <dd><a href="#">工作机会</a></dd>
                <dd><a href="#">客户服务</a></dd>
                <dd><a href="#">帮助</a></dd>
            </dl>
        </div>

    </div>
</div>
</body>
</html>
