<!DOCTYPE html>
<html lang="en">
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1786038_m62pqneyrzf.css">
    <script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
    <!--可以在收藏夹中显示出图标-->
    <link rel="Bookmark" type="image/png" href="images/logo.png"/>
    <!--可以在地址栏中显示出图标-->
    <link rel="icon" type="image/png" href="images/logo.png"/>
    <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
</head>

<body>
<div class="form-wrapper">
    <div class="header">
        滑稽摸鱼商城
    </div>
    <div class="input-wrapper">
        <div class="border-wrapper">
            <input type="text" id="username" name="username" placeholder="请输入账号" class="border-item"
                   autocomplete="off">
        </div>
        <div class="border-wrapper">
            <input type="password" id="password" name="password" placeholder="请输入密码" class="border-item"
                   autocomplete="off">
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn" onclick="submit()">登录</button>
    </div>
    <div class="action">
        <button type="button" class="btn" onclick="register()">注册</button>
    </div>

    <div class="icon-wrapper">
        <i class="iconfont icon-weixin"></i>
        <i class="iconfont icon-qq"></i>
        <i class="iconfont icon-git"></i>
    </div>
</div>

<script type="text/javascript" src="/js/login.js"></script>

</body>
</html>
