<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nb.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.nb.entity.Order">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="gid" jdbcType="BIGINT" property="gid"/>
        <result column="bid" jdbcType="BIGINT" property="bid"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="date_uid" jdbcType="VARCHAR" property="dateUid"/>
    </resultMap>

    <!--查询用户的所用订单    -->
    <select id="selectAllById" resultType="com.nb.vo.OrderVo">
        select o.id, o.count, o.deleted, g.name, g.describe, g.price
        from sm_order o
                 join sm_goods g
                      on o.gid = g.id
        where o.uid = #{uid}
    </select>

    <!--    插入订单-->
    <insert id="insertOrder">
        INSERT INTO `sm_order`(`uid`, `gid`, `count`)
        VALUES(#{uid}, #{gid}, #{count});
    </insert>

    <!--取消订单    -->
    <update id="disAbled">
        UPDATE `sm_order`
        SET `deleted` = 1
        WHERE `uid` = #{uid}
        AND `id` = #{id};
    </update>

</mapper>